{% extends 'base.html' %}
{% block title %}Filmes - Lista{% endblock %}

{% block content %}
    <h1>Lista de Filmes</h1>
    <ul>
        <li> Vingadores | <a href="{% url 'filmes:detalhe' %}">detalhes</a> </li>
        <li> Vingadores: Era de Ultron | <a href="{% url 'filmes:detalhe' %}">detalhes</a> </li>
        <li> Vingadores: Guerra Infinita | <a href="{% url 'filmes:detalhe' %}">detalhes</a> </li>
        <li> Vingadores: Ultimato | <a href="{% url 'filmes:detalhe' %}">detalhes</a> </li>
        <li> A hora do Rush | <a href="{% url 'filmes:detalhe' %}">detalhes</a> </li>
    </ul>
{% endblock %}